@tailwind base;
@tailwind components;
@tailwind utilities;

body { 
  @apply bg-gray-50 text-gray-900 antialiased font-sans; 
}

::-webkit-scrollbar { 
  width: 6px; 
}

::-webkit-scrollbar-track { 
  background: transparent; 
}

::-webkit-scrollbar-thumb { 
  background: #f97316; 
  border-radius: 10px; 
}

.badge { 
  @apply px-2 py-0.5 rounded text-xs font-bold border; 
}

.tag-vip {
  @apply badge bg-yellow-100 text-yellow-800 border-yellow-300;
}

.tag-miser {
  @apply badge bg-orange-100 text-orange-800 border-orange-300;
}

.tag-difficult {
  @apply badge bg-red-100 text-red-800 border-red-300;
}

.tag-regular {
  @apply badge bg-green-100 text-green-800 border-green-300;
}

.tag-con-artist {
  @apply badge bg-purple-100 text-purple-800 border-purple-300;
}

.tag-rich {
  @apply badge bg-indigo-100 text-indigo-800 border-indigo-300;
}

.tag-poor {
  @apply badge bg-gray-100 text-gray-800 border-gray-300;
}

.tag-over-sensitive {
  @apply badge bg-pink-100 text-pink-800 border-pink-300;
}

.tag-irritating {
  @apply badge bg-rose-100 text-rose-800 border-rose-300;
}
